body{
    margin: 0px 0px 0px 0px;
    background-color: lavender;
    font-family: monospace;
    text-align: center;
}
.heading-banner{
    text-align: center;
    background-color: aquamarine;
    height: 100px;

}
.cards{
}
.card{
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}
.card:hover {
    background-color: cornflowerblue;
}
a{
    text-decoration:none;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
